bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.pdb
*.exe
*.dll
*.db
*.sqlite
*.swp
*.sln.docstates
*.sln.ide
*.sln.iml
*.sln.user
*.sln.DotSettings
*.sln.DotSettings.user
*.vspscc
*.vssscc
*.ncb
*.aps
*.opensdf
*.sdf
*.ipch
*.pyc
*.DS_Store
*.Thumbs.db 